<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        
        {% for area in areas %} 
        <div class="carousel-item {% if forloop.first %} active {% endif %}  ">
            <img src="{{ area.image.url }}" class="d-block w-100" alt="{{ area.name }}">
            <div class="carousel-caption">
                <h4>{{ area.topic }}</h4>
                <h5>{{ area.slogan }}</h5>
                <a href="#" class="btn btn-warning">CONTACTEZ-NOUS !</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>