{% extends "Smart/smart_templates_bases.html" %}
{% load static %}

{% block content %}

{% include "Smart/smart_navbar.html" %}

{% include "Smart/smart_carousel.html" %}

<!-- section card smart law firm -->

<div class="card mb-3">
  <div class="row g-0">
    <div class=" col-md-6">
      <img style="height: 100%;" src="{% static 'images/SLF.jpg' %}"  class="img-fluid rounded-start" alt="card-image">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h4 class="card-title">CABINET JURIDIQUE </h4>
        <h5 class="card-title2">DE CONSULTATION, CONSEIL ET ASSISTANCE JURIDIQUE</h5>
        <hr>
        <h6>SMART LAW FIRM est un cabinet Juridique de Consultation, de Conseil et d'Assistance situé en République Démocratique du Congo, dans la Ville/Province de Kinshasa.<br><br>Nous nous engageons à vous offrir des solutions juridiques viables et efficaces, vous fournir des informations véridictes et vous en accompagner dans votre quete des documents juridiques crédibles. <br><br>Notre équipe d'avocats expérimentés est là pour vous guider étape par étapes suivant vos attentes en mettant à votre disposition des services personnalisé.</h6>
        <a href="#" class=" btn btn-warning text-center">EN SAVOIR PLUS</a>
        <hr>
        <h5 class="card-title text-center">SUIVEZ NOUS SUR CES PLATEFORMES</h5>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.tiktok.com/@yourusername" target="_blank"><i class="fab fa-tiktok"></i></a>
        </div>
        <hr>
        <h5 class="card-title text-center p-2">CONTACTEZ-NOUS DIRECTEMENT SUR</h5>
        <div class="social-icons-tel">
          <a href="tel:+1234567890"><i class="fas fa-phone"></i> +243 81 059 53 52</a>
        </div>
        <div class="social-icons-wa">
          <a href="https://wa.me/1234567890" target="_blank"><i class="fab fa-whatsapp"></i> +243 85 624 81 81</a>
        </div>
        <div class="social-icons-mail">
          <a href="mailto:example@example.com"><i class="fas fa-envelope"></i> smartlawfirm1@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section card smart law firm -->

<!-- section services card slf -->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-header">
          <h2 class="text-center">NOS SERVICES</h2>
          <hr>
        </div>
      </div>
    </div>
      <div class="container">
        <div class="row d-flex align-items-stretch">
          {% for title in titles %}
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4>{{ title.name }}</h4>
              </div>
              <ul class="list-group list-group-flush">
                {% for service in title.service_set.all  %}
                  <li class="list-group-item">{{ service.name }}</li>
                    {% endfor %}
              </ul>
              <div class="card-footer">
                <h6 class="text-black">{{ title.area }}</h6>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  <!-- end section services card slf -->
  
    <div class="container">
      <div class="card">
        <h5 class="card-header text-center">AVIS A NOS VISITEURS</h5>
        <div class="card-body">
          <p>
            En raison de travaux d’élaboration et de développement de nos plateformes sur les supports 
            numériques, notre site web est strictement à usage d’information. Toute sollicitation
            de nos services vous conduira sur de plateformes spécifiques à la demande, 
            une consultation en présentielle entre également dans le cadre de cette perspective. <br>
            
            Notre équipe d'ingénieurs travail d'arrache pieds pour rendre le site fonctionnelle dans un bref delai.<br>
            Merci pour votre comprehension !

            Soumettez vos reqûetes en utilisant les contacts repris dans la rubrique : Qui sommes-nous ? <br>
            Mais nous priviligions plus WhatsApp (+243 85 624 81 81) pour de raison de faisabilité ! 

          </p>
      </div>
    </div>
  </div>
    
  <!-- end section services card slf -->

<!-- footer section -->
<footer>
    {% include "Smart/smart_footer.html" %}
</footer>
  <!--  end footer section -->

{% endblock content %}